<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStoService" />
                <binding name="BasicHttpBinding_IStoService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62556/StoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStoService" contract="ServiceReference1.IStoService"
                name="BasicHttpBinding_IStoService" />
            <endpoint address="http://localhost:62556/StoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStoService1" contract="ReferenceToWcf_GetServices.IStoService"
                name="BasicHttpBinding_IStoService1" />
        </client>
        <behaviors>
          <endpointBehaviors>
            <behavior name="Debug"  >
              <callbackDebug includeExceptionDetailInFaults="true"  />
            </behavior>
          </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>